.App {
  text-align: center;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0   0 2 2"><path d="M1 2V0h1v1H0v1z" fill-opacity=".025"/></svg>');
  background-size: 20px 20px;
  overflow: hidden;
}

.header {
  margin: 10px 0 ;
}

button {
  font-weight: bold;
  font-size: 2rem;
}
